body{
    background-color: dimgrey;
}
input{
    border: 4px solid rebeccapurple;
    padding: 2px;
    margin: 4px;
    width: 100px;
    height: 25px;
}
h1{
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    width: 625px;
    height: 75px;

}